@mixin title-font {
    font-family: Newsreader, Garamond, serif;
    font-style: italic;
}

@mixin copy-font {
    font-family: Noto Sans JP, Arial, serif;
}

body {
    @include copy-font;
    font-size: 1.8rem;
    font-weight: $medium;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include title-font;
    font-weight: $bold;
}

strong,
.bold {
    font-weight: $bold;
}

p {
    line-height: 1.6;
}

a {
    color: var(--text-dark);
    text-decoration: none;
}
