// CSS3 Custom Properties -- can be dynamically altered at run time

:root {
    // Colours
    --primary: #246A73;
    --text-dark: #242424;
    --text-light: #e2e2e2;

    --very-light-ui: #f1f1f1;
    --light-ui: #e2e2e2;
    --medium-ui: #979797;
    --darker-ui: #3e3e3e;
    --dark-ui: #242424;

    --black: #000;
    --white: #fff;

    --error: #FE4A49;

    // Layout
    --wrapper-width: 102.4rem;
    --spacing-xs: .4rem;
    --spacing-s: .8rem;
    --spacing: 1.6rem;
    --spacing-l: 3.2rem;
    --spacing-xl: 6.4rem;

    --transition: .2s ease;
}

// Sass Variables -- statically defined so they can be compiled

// Breakpoints
$break-small-mobile: 375px;
$break-mobile: 415px;
$break-phablet: 640px;
$break-tablet: 840px;
$break-desktop: 1025px;

// Fonts
$light: 300;
$medium: 500;
$bold: 600;
